
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 25px;
    line-height: 1.6;
    max-width: 900px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #111;
}

.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 15px;
}

button {
    display: block;
  margin: 20px auto;
 width: 9em;
 height: 3em;
 border-radius: 30em;
 font-size: 15px;
 font-family: inherit;
 border: none;
 position: relative;
 overflow: hidden;
 z-index: 1;
 box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
             cursor: pointer;
}

button::before {
 content: '';
 width: 0;
 height: 3em;
 border-radius: 30em;
 position: absolute;
 top: 0;
 left: 0;
 background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
 transition: .5s ease;
 display: block;
 z-index: -1;
}

button:hover::before {
 width: 9em;
}

button:hover {
    background: #333;
}

.box {
    background: white;
    padding: 15px;
    margin-top: 18px;
    border-radius: 10px;
}
#scoreBox {
  font-size: 28px;
  font-weight: bold;
  color: #0f9d58;
}
.box h2 {
  margin-bottom: 10px;
  font-size: 22px;
}
